<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/00_primary_button" target="_blank">Target</a>
</p>


<button style class="click_me_primary_button">Click me!</button>


<style>

  /* Add your CSS here */

  .click_me_primary_button {
    width: 10em;
  height: 5ex;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  }

.click_me_primary_button:hover {
  background-color: blue;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

</style>
