<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/00_primary_button" target="_blank">Target</a>
</p>


<a style class="click_me_primary_button">Click me!</a>


<style>

  /* Add your CSS here */


</style>
