<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/01_other_buttons" target="_blank">Target</a>
</p>

<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
<a style class="click_me_primary_other_button">Primary</a>
</p>

<p>
<a style class="click_me_secondary_other_button">Secondary</a>
</p>

<p>
<a style class="click_me_success_other_button">Success</a>
</p>

<p>
  <a style class="click_me_danger_other_button">Danger</a>
</p>

<p>
 <a style class="click_me_warning_other_button">Warning</a>
</p>

<p>
 <a style class="click_me_info_other_button">Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a>Primary (unobtrusive)</a>
</p>

<p>
  <a>Secondary (unobtrusive)</a>
</p>

<p>
  <a>Success (unobtrusive)</a>
</p>

<p>
  <a>Danger (unobtrusive)</a>
</p>

<p>
  <a>Warning (unobtrusive)</a>
</p>

<p>
  <a>Info (unobtrusive)</a>
</p>
